.container-mainPage{
	background-color:#48D1CC;
	height: 900px;
}
.container-thisDec{
	background-color:#6495ED;
	height: 900px;
}
.container-scopeDec{
	background-color:#D3D3D3;
	height: 900px;
}
.boldtitle {
    font-weight: bold;
    color: #8A2BE2;
}